:root{
    --corPrimaria: #cfbd9b;
    --corIcone: #000;
    --corDestaque: #a98d56;
    --corHover: #e6d49e;
    --corPrata: #ddd;
    --corPrataEscuro: #a4a4a4;
    --corFundo: linear-gradient(135deg, #e0e7ff 0%, #f3f4f6 100%);
    --corFundo2: #f8f8f8;
    --corSelecionado: #6aeb6a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px
    /*user-select: none*/;
}

body{
    background-image: var(--corFundo);
    height: 100vh;
}

button, #campoPesquisa{
    border: none;
}

button{
    background-color: unset;
    border-radius: 5px;
}

input, select{
    border: 1px solid var(--corDestaque);
    padding: 4px;
}

hr{
    margin: 0;
    opacity: 1;
    border: 1px solid var(--corDestaque);
}

.desativado{
    pointer-events: none;
    opacity: 0.5;
}

button:hover, .btnMenu:hover, #menuSuspenso > *:hover{
    background-color: var(--corHover);
}

#menu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 10px;
    z-index: 998;
    background-image: var(--corFundo);
    background-attachment: fixed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#menu > :nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}

.sobreTela{
    z-index: 998;
    display: none;
    overflow: auto;
}

.sobreTela.modal > div{
    top: 10%;
    position: absolute;
    border-radius: 5px;
}

#sobretelaEscolherLivro > div{
    width: 90%;
    top: 5%;
    bottom: 5%;
}

.sobreTela.aberto{
    display: block;
}

.sobreTela.acao{
    position: absolute;
    max-width: 300px;
    border: 1px solid var(--corDestaque);
    padding: 5px;
    background-image: var(--corFundo);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.sobreTela.acao .acaoConteudo{
    display: flex;
    flex-direction: column;
}

.sobreTela.acao .acaoConteudo button{
    background-color: unset;
    border: unset;
    text-align: left;
}

.sobreTela.acao .acaoConteudo button:hover{
    background-color: var(--corHover);
}

.modal{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.aberto{
    display: flex;
}

#conteudo{
    position: relative;
    top: 55px;
    padding: 10px;
    height: calc(100vh - 55px);
}

.areaBtnMenu{
    display: flex;
    align-items: center;
}

.areaBtnMenu:nth-of-type(2) > *{
    margin-left: 10px;
    margin-right: 10px;
    align-items: self-start;
}

.btnMenu{
    border: unset;
    border-radius: 5px;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 3px;
    margin-right: 3px;
    height: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.tituloBarra{
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--corDestaque);
}

.btnOpcaoFiltro{
    width: max-content;
    height: max-content;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.btnOpcaoFiltro hr{
    margin-top: -2px;
    margin-bottom: 2px;
}

.btnOpcaoFiltro:hover hr, #interacoesPerfil button:hover hr, #areaAcessoRapido > button:hover hr, #areaAcessoRapido > a:hover hr{
    animation: hrPraDireita 0.5s 1;
}

#btnUsuario{
    padding: 0px;
    border-radius: 100%;
    border: unset;
    object-fit: cover;
    width: 25px;
    height: 25px;
}

#btnUsuario img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

#barraPesquisa{
    display: flex;
    padding: 0;
    width: 30px;
    overflow: hidden;
    transition: 0.3s;
}

#campoPesquisa{
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    margin-left: 0;
    background-color: unset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

#campoPesquisa:focus {
    border: none;
    outline: none;
    background-color: white;
}

#btnLupaAbrirPesquisa{
    padding: 5px;
}

#btnFiltrosAbrirFiltros{
    margin-left: 10px;
    margin-right: 10px;
}

#caixaPesquisa, #caixaFiltro{
    display: none;
    position: absolute;
    background-color: var(--corFundo2);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#caixaPesquisa:not(:empty).aberto{
    display: block;
}

#caixaPesquisa button{
    width: 100%;
    text-align: left;
    border: none;
}

#caixaPesquisa a:hover{
    background-color: var(--corHover);
}

#caixaFiltro.aberto{
    display: flex;
    flex-wrap: wrap;
}

.tituloPagina{
    font-weight: bold;
    font-size: 24px;
}

#btnPesquisar{
    background-color: var(--corDestaque);
    float: right;
}

.svg-smm{
    width: 15px;
    height: 15px;
}

.svg-sm{
    width: 20px;
    height: 20px;
}

.svg-mm{
    width: 28px;
    height: 28px;
}

.svg-m{
    width: 37px;
    height: 37px;
}

.svg-gg{
    width: 200px;
    height: 200px;
}

#menuSuspenso{
    background-color: var(--corPrimaria);
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    transition: 0.5s;
    padding: 10px;
    overflow-y: auto;
}

#menuSuspenso.aberto{
    left: 0px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}

#menuSuspenso > *{
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#menuSuspenso >*:hover{
    transform: scale(1.03);
}

#menuSuspenso button{
    border: unset;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

#menuSuspenso hr{
    border-radius: 0px;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type="radio"], input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    margin: 5px;
}

input[type="radio"]::before, input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    background-color: brown;
    transform: scale(0);
    transition: transform 120ms ease-in-out;
}

input[type="radio"]:checked::before, input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.comboCheck > *{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.sutituloPesquisa{
    font-weight: bold;
    font-size: 16px;
    border-top: 2px solid var(--corDestaque);
}

.comboCheck .sutituloPesquisa:nth-child(n+2){
    margin-top: 20px;
}

.comboCheck > *:not(.sutituloPesquisa){
    margin-left: 20px;
}

#resultadoPesquisa{
    margin-bottom: 10px;
}

#resultadoLivros, #resultadoUsuario, .previewPesquisaLivro, .previewPesquisaUsuario{
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
}

.previewPesquisaResultado{
    margin-bottom: 5px;
    padding: 5px;
}

.previewPesquisaResultado, .previewPesquisaLivro, .previewPesquisaUsuario{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

.previewPesquisaImgLivro, .previewPesquisaImgUsuario{
    margin-right: 10px;
    object-fit: cover;
}

.previewPesquisaImgLivro{
    width: 70px;
    height: 100px;
    background-color: gray;
}

.previewPesquisaImgUsuario{
    width: 70px;
    height: 70px;
    border: 2px solid var(--corDestaque);
    border-radius: 100%;
    padding: 5px;
}

#btnPesquisaAprofundada{
    background-color: var(--corDestaque);
    padding: 3px;
    display: flex;
    justify-content: center;
    background-color: #c2af8a;
}

#btnPesquisaAprofundada:hover{
    background-color: var(--corHover);
}


#caixaNotificacoes, .modal > div{
    background-color: var(--corFundo2);
    padding: 5px;
}

#caixaNotificacoes{
    position: fixed;
    right: 0;
    margin-right: 10px;
    border-radius: 5px;
    max-height: 60%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);;
}

#caixaNotificacoes #qtdNotificacoes, .itemNotificacao .descartarNotificacao{
    float: right;
}

.itemNotificacao{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.itemNotificacao:hover{
    background-color: var(--corHover);
    object-fit: cover;
}

.itemNotificacao img{
    width: 60px;
    height: 70px;
    margin: 5px;
    object-fit: cover;
}

.tituloItemNotificacao{
    font-weight: bold;
    margin: 5px;
}

.itemNotificacao .descartarNotificacao{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudoItemNotificacao{
    margin: 5px;
}

#conteudoConfiguracoes{
    padding: 10px;
}

#conteudoConfiguracoes > *{
    margin-bottom: 5px;
    margin-top: 5px;
}

#conteudoConfiguracoes > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#areaPlano{
    display: block !important;
}

#tiposPlanos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tiposPlanos > *{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid var(--corDestaque);
    border-radius: 10px;
    margin: 5px;
}

.tipoPlanoTitulo{
    font-weight: bold;
    font-size: 20px;
    color: var(--corDestaque);
}

#tiposPlanos > * ul{
    flex-grow: 1;
}

#tiposPlanos > * ul li{
    margin-bottom: 5px;
}

.tiposPlanosPreco div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tiposPlanosPreco div:first-child{
    font-weight: bold;
}

.btnMaisInfo{
    background-color: unset;
    border: unset;
    background-image: url('icones/ellipsis-vertical-outline.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 30px;
    flex-shrink: 0;
}

/* PARTE DO BODY DO INDEX */

#areaAcessoRapido{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}

#areaAcessoRapido > *{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#areaAcessoRapido > button, #areaAcessoRapido > a{
    background-color: unset;
    margin-bottom: 20px;
    border: unset;
}

#areaAcessoRapido > button div, #areaAcessoRapido > a div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#areaAcessoRapido > button:hover, #areaAcessoRapido > a:hover{
    background-color: var(--corHover);
}

#areaAcessoRapido hr{
    width: 100%;
}

#areaAcessoRapido > a{
    color: black;
    text-decoration: none;
}

#areaAcessoRapido img{
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

#areaLivrosEmAlta, #areaLivrosSugeridos{
    margin: 20px;
    margin-bottom: 40px;
    background-color: var(--corFundo2);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

#areaLivrosEmAlta .tituloBarra, #areaLivrosSugeridos .tituloBarra{
    font-size: 24px;
}

#conteudoLivrosEmAlta, #conteudoLivrosSugeridos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
