.paginacao{
    overflow: hidden;
}

.paginacao .paginacaoItens{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 60px;
}

.paginacaoItens{
    padding-top: 10px;
}

.paginacao .paginacaoItensFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.paginacao .paginacaoPesquisa{
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.paginacao .paginacaoControle{
    border: 0px solid var(--corDestaque);
    background-color: white;
    box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 40px;
    position: relative;
    bottom: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacaoControle .paginacaoControleNumeracao{

}

.paginacaoControle .paginacaoControleBotoes{

}

.paginacaoControle .btnPagina{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid var(--corDestaque);
    background-image: var(--corFundo);
    margin-left: 5px;
    margin-right: 5px;
}

.paginacaoControle .btnPagina:hover{
    background-color: var(--corHover);
}

.paginacaoControle .btnPagina.selecionado{
    background-color: var(--corDestaque);
}

.paginacaoControle .btnPagina .mover{
    width: 15px;
}

.btnCarregarMais{
    background-color: unset;
    border: unset;
    border-radius: 5px;
    color: var(--corDestaque);
    font-weight: bold;
}

.btnCarregarMais:hover hr{
    animation: hrPraDireita 0.5s 1;
}