.publicacaoItem{
    min-width: 300px;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--corFundo);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}

.publicacaoItemCabecalho{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.publicacaoItemCabecalho img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--corDestaque);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.publicacaoItemCabecalho div{
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
}

.publicacaoItemCabecalho .datahora{
    font-size: 12px;
    font-weight: normal;
}

.publicacaoItemConteudo{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.publicacaoItemConteudo > *{
    width: 100%;
}

.publicacaoItemConteudo .publicacaoAcoes{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 5px;
}

.publicacaoItemConteudo .publicacaoAcoes button{
    width: 28px;
    height: 28px;
}

.publicacaoItemConteudo .publicacaoAcoes button:not(.btnReagir){
    background-color: unset;
    border: unset
}

.publicacaoItemConteudo .publicacaoAcoes button:hover{
    background-color: var(--corHover);
}

.publicacaoItemComentario hr{
    margin-bottom: 10px;
}

/* Para a tela de adicionar */

#criarPublicacaoContainer{
    background-image: var(--corFundo2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

#criarPublicacaoEditorJs{
    left: 50px;
    position: relative;
    width: calc(100% - 50px);
}

.livroSelecionadoPublicacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.livroSelecionadoPublicacao img{
    width: 100px;
    height: 140px;
    object-fit: cover;
}


/* Para as listas de publicacao */

#salvarPublicacaoListasSalvar{
    padding: 10px;
}

#salvarPublicacaoListasSalvar li{
    list-style: none;
}

.listaPublicacaoEscolha{
    padding: 5px;
    border-radius: 5px;
}

.listaPublicacaoEscolha:hover{
    background-color: var(--corHover);
}

.listaPublicacaoEscolha.selecionado{
    background-color: var(--corSelecionado);
}