{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="static/css/animacoes.css">
    <link rel="stylesheet" type="text/css" href="static/css/central.css">
    <link rel="stylesheet" type="text/css" href="static/css/usuario.css">
</head>
<body>
    {% block conteudo %}

    <div class="tituloPagina">Criar Publicação</div>

    <form action="" method="post" id="formCadastro" class="formUsuario" enctype='multipart/form-data' ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">

        <div style="max-width: 220px;">
            <div class="acaoPublicacao">
                <div class="tituloAcaoPublicacao">Tipo</div>
                <div class="tipoPerfilUsuario">
                    <div>
                        <input type="checkbox" id="checkTipoLeitor" name="tipoUsuario" value="0" checked>
                        <label for="checkTipoLeitor">Evento</label>
                    </div>
                    
                    <div>
                        <input type="checkbox" id="checkTipoAutor" name="tipoUsuario" value="1">
                        <label for="checkTipoAutor">Anônimo</label>
                    </div>
                    
                    <div>
                        <input type="checkbox" id="checkTipoEditora" name="tipoUsuario" value="2">
                        <label for="checkTipoEditora">Spoiler</label>
                    </div>
                </div>
            </div>

            <div class="acaoPublicacao">
                <div class="tituloAcaoPublicacao">Referênciar um livro</div>
                <div>
                    <div id="areaSelecionarLivro">
                        <div>
                            <img src="static/imagens/livros/OsCriadoresDeCoincidencias.jpeg" alt="">
                            Os Criadores de Conincidências
                        </div>
                    </div>
                </div>
            </div>

            <div id="areaAdicionar" class="acaoPublicacao">
                <div class="tituloAcaoPublicacao">Adicionar</div>
                <div>
                    <button type="button" onclick="adicionarConteudoTexto()"><img src="static/icones/text-outline.svg" title="Adicionar um Texto">Texto</button>
                    <button type="button" onclick="adicionarConteudoImagem()"><img src="static/icones/image-outline.svg" title="Adicionar uma Imagem">Imagem</button>
                    <button type="button" onclick="adicionarConteudoVideo()"><img src="static/icones/video-outline.svg" title="Adicionar um Vídeo">Vídeo</button>
                </div>
            </div>
        </div>
        <div>
            <div>
                <label for="campoTitulo">Titulo</label>
                <input type="text" name="campoTitulo" id="campoTitulo" value="{{publicacao.titulo}}" required>
            </div>

            <div>
                <label for="campoTitulo">Conteúdo</label>
                <div id="estruturaConteudoPublicacao">
                    <div class="conteudoTexto">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sint voluptatum qui iure quaerat. Qui quos odit eius, iure cum inventore doloremque aperiam quis maxime voluptatibus? Dolorem, sequi. Eaque, deserunt.
                    </div>
                </div>
            </div>

            <div id="acoesLogin">
                <button id="btnCancelarCadastro">Cancelar</button>
                <button type="submit" id="btnSalvarCadastro">Salvar</button>
            </div>

            <span class="msgRetornoErro">{{ erro }}</span>
        </div>

    </form>

    <script>

        var estruturaConteudoPublicacao = document.getElementById('estruturaConteudoPublicacao');

        function adicionarConteudoTexto(){

        }

        function adicionarConteudoImagem(){

        }

        function adicionarConteudoVideo(){

        }

        var areaSelecionarLivro = document.getElementById("areaSelecionarLivro");
    </script>

    {% endblock %}
</body>
</html>