{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="static/css/animacoes.css">
    <link rel="stylesheet" type="text/css" href="static/css/central.css">
    <link rel="stylesheet" type="text/css" href="static/css/usuario.css">
    <link rel="stylesheet" type="text/css" href="static/css/publicacao.css">





</head>

<body>

    {% block conteudo %}

    {% if not current_user.is_authenticated %}
    <span style="color: red; position: relative; background-image: var(--corFundo2);">Para criar uma Publicação você deve estar logado. <a href="login?pagina=criarPublicacao">Clique aqui para logar.</a></span>
    {% else %}
    <style src="static/css/editorjs/columns.css"></style>

    <div id="conteudoLivro" style="display: none;">{{publicacao.conteudo}}</div>

    <style>
        .editorjs-wrapper {
            border: 1px solid #eee;
            border-radius: 5px;
            padding: 0px;
            margin-bottom: 10px;
            box-shadow: 0 6px 18px #e8edfa80;
        }

        .ce-editorjsColumns_col {
            border: 1px solid #eee;
            border-radius: 5px;
            gap: 10px;
            padding-top: 10px;
        }

        .ce-editorjsColumns_col:focus-within {
            box-shadow: 0 6px 18px #e8edfa80;
        }

        /*.cdx-simple-image__caption:has(.hidden) { display: none; }*/
        .cdx-simple-image__caption {
            display: none;
        }

        .ce-toolbar__actions {
            padding: 0;
        }

        .codex-editor__redactor {
            padding-bottom: 0px !important;
        }

        .select-plugin-livro{
            border: 1px solid #eee;
            padding: 5px;
        }

        .ce-toolbar__actions {
            
        }
        .ce-toolbar {
            
        }
    </style>
    <style src="static/css/editorjs/editorjs-fix.css"></style>


    <script src="static/js/editorjs/editorjs.js"></script>
    <script src="static/js/editorjs/delimiter.js"></script>
    <script src="static/js/editorjs/image.js"></script>
    <script src="static/js/editorjs/editorjs-alert.js"></script>
    <script src="static/js/editorjs/editorjs-selecionar-livro.js"></script>
    <script src="static/js/editorjs/header.js"></script>
    <script src="static/js/editorjs/link.js"></script>
    <script src="static/js/editorjs/marker.js"></script>
    <script src="static/js/editorjs/paragraph.js"></script>
    <script src="static/js/editorjs/editorjs-columns.js"></script>
    <script src="static/js/editorjs/list.js"></script>

    <div class="section-title-center text-center"><span>Temas</span>
        <h2 class="display-6">Criar Publicação</h2>
        <div class="section-divider divider-traingle"></div>
    </div>

    <div id="criarPublicacaoContainer">
        <div id="criarPublicacaoEditorJs"></div>
    </div>

    <button class="ce-example__button btnFundo" id="saveButton" style="width: 100%; margin-top: 20px; margin-bottom: 20px;">Publicar</button>

    <div id="sobretelaEscolherLivro" class="sobreTela modal">
        <div>
            <div class="tituloBarra">Escolher um livro</div>
            <div id="areaEscolherLivro"></div>
        </div>
    </div>

    {% if current_user.is_authenticated and (current_user.plano.name == 'Padrao' or current_user.plano.name == 'Premium') %}
    <script>
        let tools = {
            header: {
                class: Header,
                inlineToolbar: true // Enable inline toolbar for Header tool
            },
            // paragraph : editorjsParagraphLinebreakable,
            paragraph: {
                class: Paragraph,
                inlineToolbar: true,
            },
            livro: {
                class: SelecionarLivro,
                inlineToolbar: true,
                config: {
                    onClick: (data) => {

                    }
                }
            },
            /*image: {
                class: ImageTool,
                inlineToolbar: true,
                config: {
                    captionPlaceholder: 'Descricao',
                    defaultCaption: '',
                    uploader: {
                        uploadByFile(file) {
                            return new Promise((resolve, reject) => {
                                const reader = new FileReader();
                                reader.onload = () => {
                                    // usamos base64 só para demonstração
                                    resolve({
                                        success: 1,
                                        file: { url: reader.result }
                                    });
                                };
                                reader.onerror = () => reject('Erro ao ler imagem');
                                reader.readAsDataURL(file);
                            });
                        }
                    }
                }
            },*/
            delimiter: Delimiter,
            marker: Marker,
            alert: Alert,

            columns: {
                class: editorjsColumns,
                inlineToolbar: true,
                config: {
                    tools: {
                        header: Header,
                        alert: Alert,
                        delimiter: Delimiter
                    },
                    EditorJsLibrary: EditorJS
                }
            },
            list: {
                class: EditorjsList,
                inlineToolbar: true,
                config: {
                    defaultStyle: 'unordered'
                },
            }
        }
    </script>
    {% else %}
    <script>
        tools = {
            header: {
                class: Header,
                inlineToolbar: true // Enable inline toolbar for Header tool
            },
            // paragraph : editorjsParagraphLinebreakable,
            paragraph: {
                class: Paragraph,
                inlineToolbar: true,
            },
            livro: {
                class: SelecionarLivro,
                inlineToolbar: true,
                config: {
                    onClick: (data) => { }
                }
            }
        }
    </script>
    {% endif %}

    <script>

        var conteudoLivro = document.getElementById("conteudoLivro");
        var dataEditor = {};
        if (conteudoLivro && conteudoLivro.innerText.trim() != ""){
            dataEditor = JSON.parse(conteudoLivro.innerText);
        }

        console.log(dataEditor)

        editor = new EditorJS({
            readOnly: false,
            holder: 'criarPublicacaoEditorJs',
            autofocus: true,
            placeholder: 'Digite aqui seu texto ou adicione uma imagem...',
            tools: tools,
            data: dataEditor, // Imported from example_data.js

            onReady: function () {
                console.log("Delaying Save to launch Column Editors")

                setTimeout(() => {
                    //saveButton.click();
                }, 2000)

            },
            onChange: function (e) {
                console.log(e)
                // console.log('something changed');
            }
        });

        const saveButton = document.getElementById('saveButton');

        saveButton.addEventListener('click', function () {
            editor.save()
                .then((savedData) => {
                    console.log(savedData)
                    if (savedData.blocks.length == 0){
                        toast.aviso("Escreva algum conteúdo antes de publicar");
                    }else{
                        fetch('/criarPublicacao', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                conteudo: savedData,
                            })
                        })
                        .then(response => response.json())
                        .then(retorno => {
                            if (retorno.erro) {
                                toast.erro(retorno.erro);
                            } else {
                                window.location.href = "usuario";
                            }
                        }).catch(error => { console.error('Erro:', error); });
                    }

                })
                .catch((error) => {
                    console.error('Saving error', error);
                });
        });

        var objPag = null;

        var areaSelecionarLivro = document.getElementById("areaSelecionarLivro");
        if (areaSelecionarLivro) {
            areaSelecionarLivro.addEventListener("click", function () {
                abrirSobreTela('sobretelaEscolherLivro');
                if (objPag == null) {
                    objPag = new Paginacao("#areaEscolherLivro", {
                        url: '/pesquisaLivros',
                        conteudoHtml: conteudoHtmlLivroPesquisa,
                        mostrarBarraPesquisa: true,
                        clickItem: function (item) {
                            areaSelecionarLivro.innerHTML = item.outerHTML;
                            areaSelecionarLivro.firstChild.className = "livroSelecionadoPublicacao";
                            fecharSobreTela('sobretelaEscolherLivro', true)
                        }
                    });
                }
            })
        }
    </script>
    {% endif %}

    {% endblock %}
</body>

</html>