{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="static/css/central.css">
    <link rel="stylesheet" type="text/css" href="static/css/usuario.css">

</head>
<body>
    {% block conteudo %}

    {% if usuario.usuario_tela_logado %}
    <div class="tituloPagina">Meu perfil <a href="logout">Sair do Perfil</a> <a href="excluirUsuario?id{{usuario.id}}">Deletar Perfil</a></div>
    {% else %}
    <div class="tituloPagina">Perfil de {{usuario.nome}}</div>
    {% endif %}
    
    <div id="informacoesPerfil" class="blocoInfoPerfil">

        <div id="dadosPerfil">
            <img src="{{ usuario.img }}" alt="">
            <div>{{ usuario.nome }}</div>
        </div>

        <div id="estilosLiterariosPerfil">
            <div id="preferenciasLiterariasTitulo">Preferências Literárias <hr></div>
            <div id="preferenciasLiterarias">
                {% for pos in range(5) %}
                {% if usuario.preferencias_literarias|length  > pos %}
                <div>{{ usuario.preferencias_literarias[pos].descricao }}</div>
                {% endif %}
                {% endfor %}
            </div>
            {% if usuario.preferencias_literarias|length  > 0 %}
            <a>Visualizar Preferências</a>
            {% else %}
            <div>Nenhuma preferência</div>
            {% endif %}
        </div>

        <div id="acoesPerfil">
            {% if usuario.usuario_tela_logado %}
            <button>Editar Perfil</button>
            <button>Compartilhar Perfil</button>
            {% elif current_user.is_authenticated %}
            <button>Seguir</button>
            <button>Deixar de Seguir</button>
            <button>Conversar</button>
            {% else %}
            <button>Faça login para interagir</button>
            {% endif %}
        </div>

    </div>

    <div id="interacoesPerfil" class="blocoInfoPerfil">
        <button id="interacaoPerfilLivros" class="selecionado">Livros <hr></button>
        <button id="interacaoPerfilSeguindo">Seguindo (0)<hr></button>
        <button id="interacaoPerfilSeguidores">Seguidores (0)<hr></button>
        <button id="interacaoPerfilPublicacoes">Publicações <hr></button>
    </div>

    <div id="interacoesPerfilVisualizacao"  class="blocoInfoPerfil">

    </div>

    <script>
        var interacoesPerfil = document.getElementById('interacoesPerfil');
        var interacoesPerfilVisualizacao = document.getElementById('interacoesPerfilVisualizacao');

        Array.prototype.forEach.call(interacoesPerfil.getElementsByTagName('button'), function(btn){
            btn.addEventListener('click', function(event){
                btn_aux = interacoesPerfil.querySelector('.selecionado').classList.remove("selecionado");
                btn.classList.add('selecionado');
                if (btn.id == "interacaoPerfilPublicacoes"){
                    interacoesPerfilVisualizacao.innerHTML = '<a href="criarPublicacao">Criar Publicação</a>';
                }else{
                    interacoesPerfilVisualizacao.innerHTML = "";
                }
            })
        });

    </script>

    {% endblock %}
</body>
</html>